.footer{
	background-color: #464646;
	height: 410px;
}



.footer-logo,
.general-site-map,
.general-site-functions{
	position: relative;
	float: left;
	display: table;
	margin-left: 3%;
	top: 20%;
	width: 30%;
	color: white;
	text-align: left;
	vertical-align: middle;
	text-decoration: none;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;	
	
}
.a-all{
	text-decoration: none;
	color: white;
}

.a-all:focus, .a-all:hover{
	color:white;
	text-decoration: underline;
}

.footer-logo:hover, .footer-logo:focus{
	color:white;
	text-decoration: none;
}

.general-site-map h1,
.general-site-map li,
.general-site-functions h1,
.general-site-functions li{
	padding-bottom: 20px;
}

.footer-title{
	color: #c2c2c2;
}
