.menu-bar{
	position: relative;
	display: flex;
	align-items: center;
	width: auto;
	height: 50px;
	background-color: #3f51b5;
    color:white;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 500;

}

.search-container {
    width: 200px;
    height: 30px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
        
}
.search-button{
    border: 0;
    padding: 0;
}

.search-icon {
    position: relative;
    left: 170px;
    top:0px;
    width: 25px;
    height: 25px;
    margin-left: 2.5px;
    margin-top: 2.5px;
    position: absolute;
    z-index: 1;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.searchbar {
    position: relative; 
    width: 0;
    height: 30px;
    border: none;
    font-size: 10pt;
    left: 200px;
    color: black;
        
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;

}


.search-container:hover .search-icon,
.searchbar:active ~ .search-button > .search-icon,
.searchbar:focus ~ .search-button > .search-icon{
	color: black;
}

.search-container:hover .searchbar{
	left: 0;
	width: 200px;
    background: #ffffff;
    padding-left: 5;
}

.searchbar:active, .searchbar:focus{
	left: 0;
    outline: none;
    width: 200px;
    background: #ffffff;
    padding-left: 5;
}

.search-icon:hover{
	cursor: pointer;

}


.logo, .logout-button{
    text-decoration: none;
	position: relative;
	text-align: center center;
	cursor: pointer;
    color: white;
}

.logo-wrapper{
	flex:1;
}

.logo{
	width: 50px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 21px;
    text-decoration: none;
    color: white;
}

.logout-button{
	/*margin-left: 20px;*/
	margin-right: 20px;
	font-size: 15px;
}

.logout-button:hover{
    color: white;
    text-decoration: none;
}
