.page-background:before {
    content: "";
    position: fixed;
    top: -5%;
    left: -5%;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
  
    background-image: url(../img/img1.jpeg);
    background-size:cover;
    width: 110%;
    height: 110%;
    
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }
  
  .page-background{
  
      overflow: hidden;
      position: relative;
  }

  .form-div {
    position: relative;
    z-index: 99 !important;
    width: 500px;
    height: 325px;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
}

h1 {
    position: relative;
    cursor: default;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

#subtitle {
    position:relative;
    text-align:center;
    cursor: default;
    color: white;
    margin-left: auto;
    margin-right: auto;
    left: -2%;
    top: -2%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#user_form {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    border-radius: 6px 6px 0 0;
    border: 2px solid black;
    box-shadow: 5px 5px 10px darkgrey;
    background-color: white;
}

p {
    position:relative;
    color: black;
    font-size:16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    left: 5%;
    top: 5%;
}

#id_username {
    position: relative;
    height:30px;
    left: 5.8%;
    padding-left: 15px;
    background-color: #EDEDEC;
    border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
}

#id_email {
    position: relative;
    padding-left: 15px;
    height:30px;
    background-color: #EDEDEC;
    border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
}

#id_password {
    position: relative;
    height:30px;
    left: 6%;
    padding-left: 15px;
    background-color: #EDEDEC;
    border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
}

#id_usertype {
    position: relative;
    height:30px;
    left: 7.2%;
}

a {
    text-decoration: none;
    color: #15AB8F;
 }

 #returnlogin {
    position:relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: darkgrey;
    top: -15%;
    font-size:15px;
 }

#register-button {
    position:relative;
    cursor: pointer;
    width:300px;
    height:40px;
    left: 18%;
    top: 15px;
    border: none;
    background-color: #1859F1;
    color: #EDEDEC;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    transition: all .5s ease-in-out;
}

#register-button:hover {
    transform: scale(1.05);
}