.slide-container{
	position: relative;
	top:20px;
	height: auto;
	margin-left: auto;
	margin-right: auto;

}
.slide-arrow-icon-left,
.slide-arrow-icon-right{
	position: relative;

	font-size: 50px;

	top: 50%;
	width:50px;
	height: 50px;
	margin-right: 50px;
	left: 0;
}



.first-content-container{
	position: relative;
	width: auto;
	height: 500px;
}

.content-categories{
	position: relative;
	width: 80%;
	max-width: 1170px;
	height: 400px;
	top:50px;
	margin-left:auto;
	margin-right:auto;
}

.content-category{
	margin-left: 4%;
	margin-right: 4%;
	width: 25%;
	height: 400px;
	clear: right;
	float: left;
	-webkit-box-shadow: 0px 0px 14px 1px rgba(145,145,145,1);
	-moz-box-shadow: 0px 0px 14px 1px rgba(145,145,145,1);
	box-shadow: 0px 0px 14px 1px rgba(145,145,145,1);
}

.description-box{
	margin: 40px;
}

.description-title{
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;	
	font-weight: bold;
}
.description-paragraph{
	position: relative;
	top: 20px;
	height: 180px;
	width: auto;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;	

}

.register-button{
	position: relative;
	display: flex;
	align-items: center;
	width: 50px;
	height: 36px;
	left: 40px;
	float: left;
	overflow: hidden;
	transition:all 0.4s ease 0s;
	webkit-transition: all 0.4s ease 0s;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;	
	background-color: #303f9f;
	border-radius: 2px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 
    			0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
    			0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.register-string{
	position: relative;
	left: -110px;
	font-size: 19px;
	margin-bottom: 0;
	color: white;
	transition:all 0.4s ease 0s;
	webkit-transition: all 0.4s ease 0s;
}

.reg-arrow-icon{
	position: relative;
	width: 30px;
	left: -90px;
	color: white;
	transition:all 0.4s ease 0s;
	webkit-transition: all 0.4s ease 0s;
}

.register-button:hover{
	width: 110px;
}

.register-button:hover .register-string{
	left: 5px;
}
.register-button:hover .reg-arrow-icon{
	left: 50px;
}

