{% load static %}





<link rel="stylesheet" type="text/css" href="{% static 'findr/css/google-font-material.css' %}">
<link rel="stylesheet" href="{% static 'findr/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'findr/css/reset.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'findr/css/menubar.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'findr/css/welcomepage.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'findr/css/footer.css' %}" />



<script src="{% static 'findr/javascript/jquery.min.js' %}"></script>
<script src="{% static 'findr/javascript/bootstrap.min.js' %}"></script>

<script>
	

	function detectvalue(){
		var e = document.getElementById("SearchTimeSelect");
		var strUser = e.options[e.selectedIndex].value;

	}
</script>



<div class='root'>
	<div class='app-frame'>
		


		<div class='menu-bar'>
			<div class='logo-wrapper'>
				<h1 href='#'class='logo'>
				Findr
				</h1>
			</div>
			
			<div class='search-container'>
	    		<form name='search-form' method="POST" action="/findr/search/">
	    			{% csrf_token %}
					<input  class='searchbar' type="text" name="search" placeholder="Search..."/>
					<button class='search-button'type="submit" value="submit">
						<i class="search-icon material-icons">search</i>
					</button>

					
					<div class="searchbar-border-bottom"></div>
				</form>
	        </div>
            

			
			<a href="/findr/logout/" class='logout-button'>Sign Out</a>

		</div>

		<div class=''>
		</div>



		<div class="slide-container container">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">

					<div class="item active">
						
						<img src="{% static 'findr/img/img1.jpeg' %}" alt="Los Angeles" style="width:100%;">
						
					</div>

					<div class="item">
						
						<img src="{% static 'findr/img/img2.jpeg' %}" alt="Chicago" style="width:100%;">
					</div>

					<div class="item">
						
						<img src="{% static 'findr/img/img3.jpeg' %}" alt="New york" style="width:100%;">
					</div>
				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel" data-slide="prev">
					<i class="slide-arrow-icon-left material-icons">keyboard_arrow_left</i>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" data-slide="next">
					<i class="slide-arrow-icon-right material-icons">skeyboard_arrow_right</i>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>

		
		<form action="https://jp.translink.com.au/plan-your-journey/journey-planner/start" id="journey-planner-form" method="post" novalidate="novalidate">

			<input type="hidden" id="StartLocationId" name="StartLocationId">
			<input type="hidden" id="EndLocationId" name="EndLocationId">

			<div>
				<div id="location-fields" class="row">
					<div class="col-xs-12">
						<fieldset>
							<div class="form-group form-inline">
								<div class="input-group loading-indicator with-detect-location outer-border-right">
									<input aria-label="Enter start address, landmark, stop name or stop id. Select 'use my current location' below. Or start typing a location, and select a suggestion from the list below" aria-required="true" class="form-control" data-location-id="" id="Start" name="Start" placeholder="Enter a start location" type="text" value="" autocomplete="off" aria-invalid="false">
									
								</div><label id="Start-error" class="" for="Start" style="display: none;"></label>
							</div>
							<div class="form-group form-inline">
								<div class="input-group with-detect-location outer-border-right loading-indicator">
									<input aria-label="Enter destination address, landmark, stop name or stop id. Select 'use my current location' below. Or start typing a location, and select a suggestion from the list below" aria-required="true" class="form-control" data-location-id="" id="End" name="End" placeholder="Enter an end location" type="text" value="" autocomplete="off" aria-invalid="false">
									
								</div>
							</div>

						</fieldset>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<fieldset>
							<legend class="sr-only">Travel day and time</legend>
							<div class="form-group">
								<label class="sr-only" for="SearchDate">Date</label>

								<select class="form-control" id="SearchDate" name="SearchDate">
									<option value="" disabled selected hidden>Select a date..</option>
									{% for date in dates %}
										<option value="{{date.day}}/{{date.month}}/{{date.year}}">{{date|date:"l M d"}}</option>
									{% endfor %}
								</select>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="row">
					<div id="before-after-btns" >
						<div class="form-group">
							<div class="input-group">
								<select id="TimeSearchMode" name="TimeSearchMode" type="hidden">
									<option value="LeaveAfter">Leave After</option>	
									<option value="ArriveBefore">Arrive Before</option>
								</select>
							</div>
						</div>
					</div>
					<div id="time-selection" >
						<div class="form-group">
							<label class="sr-only" for="SearchTime">Time</label>

							<select id="SearchHour" name="SearchHour" type="hidden">
									{% for i in time_loop %}
										<option value="{{ i|add:'1' }}">{{ i|add:"1" }}</option>											
									{% endfor %}
							</select>
							<select id="SearchMinute" name="SearchMinute" type="hidden">
									{% for i in time_loop %}
										<option value="{% widthratio 5 1 i %}">{% widthratio 5 1 i %}</option>											
									{% endfor %}
							</select>

							<select id="TimeMeridiem" name="TimeMeridiem" type="hidden">
								<option value="AM">AM</option>	
								<option value="PM">PM</option>		
							</select>
							
							
						</div>
					</div>
					<button id="submit-btn"type="submit" class="btn btn-primary">
						Find a journey
					</button>
				</div>


				<div class="text-right dropdown" id="advanced-options-wrapper"  style="display: none;">
					<button class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">
						Advanced options
						<span class="sr-only">Click to open the advanced options popup which appears after this button</span>
					</button>

					<div class="dropdown-menu well with-arrow with-arrow-center" id="advanced-options">

						<fieldset class="form-group">
							<legend>Mode of transport</legend>
							<label class="checkbox-inline">
								<input checked="checked" id="TransportModeBus" name="TransportModes" tabindex="0" type="checkbox" value="Bus"> Bus
							</label>
							<label class="checkbox-inline">
								<input checked="checked" id="TransportModeTrain" name="TransportModes" tabindex="0" type="checkbox" value="Train"> Train
							</label>
							<label class="checkbox-inline">
								<input checked="checked" id="TransportModeFerry" name="TransportModes" tabindex="0" type="checkbox" value="Ferry"> Ferry
							</label>
							<label class="checkbox-inline">
								<input checked="checked" id="TransportModeTram" name="TransportModes" tabindex="0" type="checkbox" value="Tram"> Tram
							</label>
						</fieldset>

						<div class="row">
							<div class="col-sm-8">
								<fieldset>
									<legend>Walking options</legend>
									<div class="form-group">
										<label for="MaximumWalkingDistance">Maximum walk</label>
										<select class="form-control" id="MaximumWalkingDistance" name="MaximumWalkingDistance">
											<option value="100">Up to 100m</option>
											<option value="250">Up to 250m</option>
											<option value="500">Up to 500m</option>
											<option value="1000">Up to 1km</option>
											<option value="1500">Up to 1.5km</option>
											<option value="2000">Up to 2km</option>
											<option selected="selected" value="4000">Up to 4km</option>
										</select>
									</div>
									<div class="form-group">
										<label for="WalkingSpeed">Walking speed</label>
										<select class="form-control" id="WalkingSpeed" name="WalkingSpeed">
											<option value="Slow">Slow</option>
											<option selected="selected" value="Normal">Normal</option>
											<option value="Fast">Fast</option>
										</select>
									</div>
								</fieldset>
							</div>
						</div>

						<fieldset class="form-group collapse in" id="ServiceTypes">
							<legend>Bus service types</legend>
							<label class="checkbox-inline">
								<input checked="checked" id="ServiceModeRegular" name="ServiceTypes" tabindex="0" type="checkbox" value="Regular"> Regular
							</label>
							<label class="checkbox-inline">
								<input checked="checked" id="ServiceModeExpress" name="ServiceTypes" tabindex="0" type="checkbox" value="Express"> Express
							</label>
							<label class="checkbox-inline">
								<input checked="checked" id="ServiceModeNightLink" name="ServiceTypes" tabindex="0" type="checkbox" value="NightLink"> NightLink
							</label>
							<label class="checkbox-inline">
								<input checked="checked" id="ServiceModeSchool" name="ServiceTypes" tabindex="0" type="checkbox" value="School"> School
							</label>
						</fieldset>

						<fieldset class="form-group">
							<legend>Fare types</legend>
							<label class="checkbox-inline">
								<input checked="checked" id="FareTypeStandard" name="FareTypes" tabindex="0" type="checkbox" value="Standard"> Standard
							</label>
							<label class="checkbox-inline">
								<input checked="checked" id="FareTypePrepaid" name="FareTypes" tabindex="0" type="checkbox" value="Prepaid"> Prepaid
							</label>
							<label class="checkbox-inline">
								<input checked="checked" id="FareTypeFree" name="FareTypes" tabindex="0" type="checkbox" value="Free"> Free
							</label>
						</fieldset>

						<div class="text-right">
							<input type="submit" value="Find journey" class="btn btn-primary">
						</div>
					</div>

				</div>

				
			</div>
		</form>

		<div class='first-content-container'>
			<h1 class='first-content-header'>
				{{ usertype }}

	
			</h1>
			<p class='first-content-paragraph'>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod 
				tincidunt ut laoreet dolore magna aliquam erat volutpat.
			</p>
			<div class='content-categories'>

				{% if usertype == "student" %}
				<a class='content-category' href="../college/">

					<i class='category-icon material-icons'>school</i>

	                <div class='description-box'>
	                    <div class='description-title' type="title" component="h1">
	                        SCHOOL
	                    </div>

	                    <div class='description-paragraph' type="subheading" component="p">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas, dui a semper porttitor, felis mi sodales nunc.
	                    </div>

	                </div>

	                <div class='read-more-link' >
						<p class='read-more-string'>
	                        READ MORE
	                        
	                    </p>
	                    <i class="read-more-arrow-icon material-icons">keyboard_arrow_right</i>
           
	                </div>         
	        	</a>

	        	<a class='content-category' href="../library/">

					<i class='category-icon material-icons'>local_library</i>

	                <div class='description-box'>
	                    <div class='description-title' type="title" component="h1">
	                        LIBRARY
	                    </div>

	                    <div class='description-paragraph' type="subheading" component="p">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas, dui a semper porttitor, felis mi sodales nunc.
	                    </div>

	                </div>

	                <div class='read-more-link' >
						<p class='read-more-string'>
	                        READ MORE
	                        
	                    </p>
	                    <i class="read-more-arrow-icon material-icons">keyboard_arrow_right</i>
           
	                </div>
	        	</a>

	        	<a class='content-category' href="../cityinfo/">

					<i class='category-icon material-icons'>location_city</i>

	                <div class='description-box'>
	                    <div class='description-title' type="title" component="h1">
	                        CITY INFO
	                    </div>

	                    <div class='description-paragraph' type="subheading" component="p">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas, dui a semper porttitor, felis mi sodales nunc.
	                    </div>

	                </div>

	                <div class='read-more-link' >
						<p class='read-more-string'>
	                        READ MORE
	                        
	                    </p>
	                    <i class="read-more-arrow-icon material-icons">keyboard_arrow_right</i>
           
	                </div>              
	        	</a>

	        	<a class='content-category' href="https://translink.com.au/">

					<i class='category-icon material-icons'>directions_bus</i>

	                <div class='description-box'>
	                    <div class='description-title' type="title" component="h1">
	                        TRANSPORT
	                    </div>

	                    <div class='description-paragraph' type="subheading" component="p">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas, dui a semper porttitor, felis mi sodales nunc.
	                    </div>

	                </div>

	                <div class='read-more-link' >
						<p class='read-more-string'>
	                        READ MORE
	                        
	                    </p>
	                    <i class="read-more-arrow-icon material-icons">keyboard_arrow_right</i>
           
	                </div> 
	        	</a>

	        	{% endif %}

	        	{% if usertype == "tourist" %}
				<a class='content-category' href="/findr/hotel">

					<i class='category-icon material-icons'>hotel</i>

	                <div class='description-box'>
	                    <div class='description-title' type="title" component="h1">
	                        HOTEL
	                    </div>

	                    <div class='description-paragraph' type="subheading" component="p">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas, dui a semper porttitor, felis mi sodales nunc.
	                    </div>

	                </div>

	                <div class='read-more-link' >
						<p class='read-more-string'>
	                        READ MORE
	                        
	                    </p>
	                    <i class="read-more-arrow-icon material-icons">keyboard_arrow_right</i>
           
	                </div>

	                           
	        	</a>

	        	<a class='content-category' href="/findr/entertainment">

					<i class='category-icon material-icons'>looks</i>

	                <div class='description-box'>
	                    <div class='description-title' type="title" component="h1">
	                        ENTERTAINMENT
	                    </div>

	                    <div class='description-paragraph' type="subheading" component="p">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas, dui a semper porttitor, felis mi sodales nunc.
	                    </div>

	                </div>

	                <div class='read-more-link' >
						<p class='read-more-string'>
	                        READ MORE
	                        
	                    </p>
	                    <i class="read-more-arrow-icon material-icons">keyboard_arrow_right</i>
           
	                </div>

	                           
	        	</a>
	        	<a class='content-category' href="/findr/cityinfo">

					<i class='category-icon material-icons'>location_city</i>

	                <div class='description-box'>
	                    <div class='description-title' type="title" component="h1">
	                        CITY INFO
	                    </div>

	                    <div class='description-paragraph' type="subheading" component="p">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas, dui a semper porttitor, felis mi sodales nunc.
	                    </div>

	                </div>

	                <div class='read-more-link' >
						<p class='read-more-string'>
	                        READ MORE
	                        
	                    </p>
	                    <i class="read-more-arrow-icon material-icons">keyboard_arrow_right</i>
           
	                </div>

	                           
	        	</a>
	        	<a class='content-category' href="https://translink.com.au/">

					<i class='category-icon material-icons'>directions_bus</i>

	                <div class='description-box'>
	                    <div class='description-title' type="title" component="h1">
	                        TRANSPORT
	                    </div>

	                    <div class='description-paragraph' type="subheading" component="p">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas, dui a semper porttitor, felis mi sodales nunc.
	                    </div>

	                </div>

	                <div class='read-more-link' >
						<p class='read-more-string'>
	                        READ MORE
	                        
	                    </p>
	                    <i class="read-more-arrow-icon material-icons">keyboard_arrow_right</i>
           
	                </div>

	                           
	        	</a>

	        	{% endif %}

	        	{% if usertype == "businessman" %}
	        	<a class='content-category' href="/findr/hotel">

					<i class='category-icon material-icons'>hotel</i>

	                <div class='description-box'>
	                    <div class='description-title' type="title" component="h1">
	                        HOTEL
	                    </div>

	                    <div class='description-paragraph' type="subheading" component="p">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas, dui a semper porttitor, felis mi sodales nunc.
	                    </div>

	                </div>

	                <div class='read-more-link' >
						<p class='read-more-string'>
	                        READ MORE
	                        
	                    </p>
	                    <i class="read-more-arrow-icon material-icons">keyboard_arrow_right</i>
           
	                </div>

	                           
	        	</a>

	        	<a class='content-category' href="/findr/industry">

					<i class='category-icon material-icons'>business</i>

	                <div class='description-box'>
	                    <div class='description-title' type="title" component="h1">
	                        INDUSTRY
	                    </div>

	                    <div class='description-paragraph' type="subheading" component="p">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas, dui a semper porttitor, felis mi sodales nunc.
	                    </div>

	                </div>

	                <div class='read-more-link' >
						<p class='read-more-string'>
	                        READ MORE
	                        
	                    </p>
	                    <i class="read-more-arrow-icon material-icons">keyboard_arrow_right</i>
           
	                </div>

	                           
	        	</a>
	        	<a class='content-category' href="/findr/cityinfo">

					<i class='category-icon material-icons'>location_city</i>

	                <div class='description-box'>
	                    <div class='description-title' type="title" component="h1">
	                        CITY INFO
	                    </div>

	                    <div class='description-paragraph' type="subheading" component="p">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas, dui a semper porttitor, felis mi sodales nunc.
	                    </div>

	                </div>

	                <div class='read-more-link' >
						<p class='read-more-string'>
	                        READ MORE
	                        
	                    </p>
	                    <i class="read-more-arrow-icon material-icons">keyboard_arrow_right</i>
           
	                </div>

	                           
	        	</a>
	        	<a class='content-category' href="https://translink.com.au/">

					<i class='category-icon material-icons'>directions_bus</i>

	                <div class='description-box'>
	                    <div class='description-title' type="title" component="h1">
	                        TRANSPORT
	                    </div>

	                    <div class='description-paragraph' type="subheading" component="p">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas, dui a semper porttitor, felis mi sodales nunc.
	                    </div>

	                </div>

	                <div class='read-more-link' >
						<p class='read-more-string'>
	                        READ MORE
	                        
	                    </p>
	                    <i class="read-more-arrow-icon material-icons">keyboard_arrow_right</i>
           
	                </div>

	                           
	        	</a>
	        	{% endif %}

	        	{% if usertype == "admin" %}
	        	<a class='content-category' href="/findr/college">

					<i class='category-icon material-icons'>school</i>

	                <div class='description-box'>
	                    <div class='description-title' type="title" component="h1">
	                        SCHOOL
	                    </div>

	                    <div class='description-paragraph' type="subheading" component="p">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas, dui a semper porttitor, felis mi sodales nunc.
	                    </div>

	                </div>

	                <div class='read-more-link' >
						<p class='read-more-string'>
	                        READ MORE
	                        
	                    </p>
	                    <i class="read-more-arrow-icon material-icons">keyboard_arrow_right</i>
           
	                </div>

	                           
	        	</a>

	        	<a class='content-category' href="/findr/hotel">

					<i class='category-icon material-icons'>hotel</i>

	                <div class='description-box'>
	                    <div class='description-title' type="title" component="h1">
	                        HOTEL
	                    </div>

	                    <div class='description-paragraph' type="subheading" component="p">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas, dui a semper porttitor, felis mi sodales nunc.
	                    </div>

	                </div>

	                <div class='read-more-link' >
						<p class='read-more-string'>
	                        READ MORE
	                        
	                    </p>
	                    <i class="read-more-arrow-icon material-icons">keyboard_arrow_right</i>
           
	                </div>

	                           
	        	</a>
	        	<a class='content-category' href="/findr/entertainment">

					<i class='category-icon material-icons'>looks</i>

	                <div class='description-box'>
	                    <div class='description-title' type="title" component="h1">
	                        ENTERTAINMENT
	                    </div>

	                    <div class='description-paragraph' type="subheading" component="p">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas, dui a semper porttitor, felis mi sodales nunc.
	                    </div>

	                </div>

	                <div class='read-more-link' >
						<p class='read-more-string'>
	                        READ MORE
	                        
	                    </p>
	                    <i class="read-more-arrow-icon material-icons">keyboard_arrow_right</i>
           
	                </div>

	                           
	        	</a>
	        	<a class='content-category' href="/findr/cityinfo">

					<i class='category-icon material-icons'>location_city</i>

	                <div class='description-box'>
	                    <div class='description-title' type="title" component="h1">
	                        CITY INFO
	                    </div>

	                    <div class='description-paragraph' type="subheading" component="p">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas, dui a semper porttitor, felis mi sodales nunc.
	                    </div>

	                </div>

	                <div class='read-more-link' >
						<p class='read-more-string'>
	                        READ MORE
	                        
	                    </p>
	                    <i class="read-more-arrow-icon material-icons">keyboard_arrow_right</i>
           
	                </div>

	                           
	        	</a>
	        	{% endif %}

	        	
			</div>
			
		</div>


		<div class='footer'>	
			<div='footer-row'>
				<a href='../index' class='footer-logo'>
					FINDR
				</a>

				<ul class='general-site-map'>
					<h1 class='footer-title'>
						SITE MAP
					</h1>
					<li><a class='a-all' href='../index'>HOME</li>
					<li><a class='a-all' href="../college">COLLGES</a></li>
					<li><a class='a-all' href="../library">LIBRARY<a></li>
					<li><a class='a-all' href="../cityinfo">CITY INFO</a></li>
					
				</ul>

				<ul class='general-site-functions'>
					<h1 class='footer-title'>
						NEED HELP?
					</h1>
					<li><a class='a-all' href="../itempage/">MAP</a></li>
					<li><a class='a-all' href="https://translink.com.au/">TRANSPORT</a></li>
					<li><a class='a-all' href="/findr/event">EVENTS</a></li>
				</ul>

			</div>
		</div>

    	



        
	</div>
</div>

