{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'findr/css/google-font-material.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'findr/css/reset.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'findr/css/menubar.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'findr/css/footer.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'findr/css/itempage.css' %}" />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApbnldHTuNCZMFHpc81ur-OFzCTdyJki0"></script>

<div class='root'>
	<div class='app-frame'>
		

		<div class='menu-bar'>
			<div class='logo-wrapper'>
				<a href='../index'class='logo'>
				Findr
				</a>
			</div>
			
			<div class='search-container'>
	    		<form name='search-form' method="POST" action="/findr/search/">
	    			{% csrf_token %}
					<input  class='searchbar' type="text" name="search" placeholder="Search..."/>
					<button class='search-button'type="submit" value="submit">
						<i class="search-icon material-icons">search</i>
					</button>

					
					<div class="searchbar-border-bottom"></div>
				</form>
	        </div>
            

			
			<a href="/findr/logout/" class='logout-button'>Sign Out</a>

		</div>

		<div class='first-content-container'>

			<!-- <iframe class= 'locationGoogleMap'src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3522.684221298304!2d153.42286291569837!3d-28.00355604632275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b91057aba149ea7%3A0x6162df26e42d8621!2sK+Resort!5e0!3m2!1sen!2sau!4v1468319023374" frameborder="0" allowfullscreen></iframe> -->
			{% if googlemap %}
				{% for googlemaps in googlemap %}
					<iframe class= 'locationGoogleMap'src="{{googlemaps.googlekey}}AIzaSyApbnldHTuNCZMFHpc81ur-OFzCTdyJki0" frameborder="0" allowfullscreen></iframe>
				{% endfor %}
			{% else %}
				<iframe class= 'locationGoogleMap' src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJuyD2XARakWsRwITe81qjAgU&key=AIzaSyApbnldHTuNCZMFHpc81ur-OFzCTdyJki0" frameborder="0" allowfullscreen></iframe>
			{% endif %}
			
		</div>
		<div class='footer'>	
			<div='footer-row'>
				<a href='../index' class='footer-logo'>
					FINDR
				</a>

				<ul class='general-site-map'>
					<h1 class='footer-title'>
						SITE MAP
					</h1>
					<li><a class='a-all' href='../index'>HOME</li>
					{% if usertype == "student" %}
					<li><a class='a-all' href="../college">COLLGES</a></li>
					<li><a class='a-all' href="../library">LIBRARY<a></li>
					{% endif %}
					{% if usertype == "tourist" %}
					<li><a class='a-all' href="../hotel">HOTELS</a></li>
					{% endif %}
					{% if usertype == "businessman" %}
					<li><a class='a-all' href="../hotel">HOTELS</a></li>
					<li><a class='a-all' href="../industry">INDUSTRIES</a></li>
					{% endif %}
					<li><a class='a-all' href="../cityinfo">CITY INFO</a></li>
					{% if usertype == "admin" %}
					<li><a class='a-all' href="../college">COLLGES</a></li>
					<li><a class='a-all' href="../library">LIBRARY<a></li>
					<li><a class='a-all' href="../hotel">HOTELS</a></li>
					<li><a class='a-all' href="../industry">INDUSTRIES</a></li>
					<li><a class='a-all' href="/admin">ADMIN INTERFACE</a></li>
					{% endif %}
				</ul>

				<ul class='general-site-functions'>
					<h1 class='footer-title'>
						NEED HELP?
					</h1>
					<li><a class='a-all' href="../itempage/">MAP</a></li>
					<li><a class='a-all' href="https://translink.com.au/">TRANSPORT</a></li>
					<li><a class='a-all' href="/findr/event">EVENTS</a></li>
				</ul>

			</div>
		</div>





	</div>
</div>



