{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'findr/css/google-font-material.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'findr/css/reset.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'findr/css/menubar.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'findr/css/resultspage.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'findr/css/footer.css' %}" />


<div class='root'>
	<div class='app-frame'>
		


		<div class='menu-bar'>
			<div class='logo-wrapper'>
				<a href='../index'class='logo'>
				Findr
				</a>
			</div>
		

			
			<a href="/findr/logout/" class='logout-button'>Sign Out</a>

		</div>

		<h1 class='search-target'>
			{{ category }}
		</h1>

		<div class='search-container'>


    		<form name='search-form' method="POST" action="/findr/search/">
    			{% csrf_token %}
				<input  class='searchbar' type="text" name="search" placeholder="Search..."/>
				<button class='search-button'type="submit" value="submit">
					<i class="search-icon material-icons">search</i>
				</button>

				
				<div class="searchbar-border-bottom"></div>
			</form>
			
			
        </div>


		<div class='results-list'>

			
			{% if results %}

				{% for each_result in results %}

				    <div class='result-content'>
				    	<img src="{{each_result.picture.url}}" alt="{{each_result.name}}">

					   	<div class='result-info'>
							<p>Category: {{each_result.category}}</p>

						    <p>Department: {{each_result.department}}</p>
							<p>Name: <a href='../itempage/?target={{each_result.name}}'>{{each_result.name}}</a></p>
							<p>Description: {{each_result.description}}</p>
							<p>Address: {{each_result.address}}</p>
							<p>Email: {{each_result.email}}</p>
							<p>Website:<a href='{{each_result.website}}'>{{each_result.website}}</a></p>
							

						</div>
				    </div>
				    
				{% endfor %}

			{% endif %}
			
		</div>


		<div class="pagination">
			{% if results.has_previous %}
				<a href="?page={{results.previous_page_number}}">&laquo;</a>
			{% else %}
				<a href="#">&laquo;</a>
			{% endif %}


			{% for page_num in results.paginator.page_range %}

				{% if page_num == results.number %}
					<a class='active' href="?page={{page_num}}">{{page_num}}</a>
				{% else%}
					<a href="?page={{page_num}}">{{page_num}}</a>
				{% endif %}

			{% endfor %}

			{% if results.has_next %}
				<a href="?page={{results.next_page_number}}">&raquo;</a>
			{% else %}
				<a href="#">&raquo;</a>
			{% endif %}
		</div>


		
		<div class='footer'>	
			<div='footer-row'>
				<a href='../index' class='footer-logo'>
					FINDR
				</a>

				<ul class='general-site-map'>
					<h1 class='footer-title'>
						SITE MAP
					</h1>
					<li><a class='a-all' href='../index'>HOME</li>
					<li><a class='a-all' href="../college">COLLGES</a></li>
					<li><a class='a-all' href="../library">LIBRARY<a></li>
					<li><a class='a-all' href="../cityinfo">CITY INFO</a></li>
					
				</ul>

				<ul class='general-site-functions'>
					<h1 class='footer-title'>
						NEED HELP?
					</h1>
					<li><a class='a-all' href="../itempage/">MAP</a></li>
					<li><a class='a-all' href="https://translink.com.au/">TRANSPORT</a></li>
					<li><a class='a-all' href="/findr/event">EVENTS</a></li>
				</ul>

			</div>
		</div>




	</div>
</div>





