{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'findr/css/google-font-material.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'findr/css/reset.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'findr/css/welcome.css' %}">

<div class ='root'>
	<div class='app-frame'>
		<div class='page-background'>
			
			<div class='header'>
				<h1>SMART CITY</h1>
				<h2>SMARTER THAN YOU AYY</h2>
			</div>


			<div class='title'>
				<p>
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					FINDR
					<i class="search-icon material-icons">search</i>
					<i class="city-icon material-icons">location_city</i>
				</p>

			</div>

			<a class='login' href='../login'>
				
			</a>
			<i class="arrow-icon-down material-icons">skeyboard_arrow_down</i>

			

		</div>
	</div>
</div>